#carouselExampleControls{
  height:"400px"
  width ="400px"
 }
 
 .o{
   margin-left: 40%;
   
 }
 
 .Rl {
   border: border="2px solid black";
   height: 50%;
   width:50%;
 }
 #J{
   margin-right: 45%;

 }
 #K{
   margin-left: 10%;
   position:relative;
 }

.Or{
  border:1px solid black;
  width: 18%;
  background-color: black;
  height: 600px;
}


.L{
  padding: 2%;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
  border:1px solid black;
  background-color: white;
}
#P{
  padding:5px 110px; font-size:20px;  margin-top:25px ;
  margin-left: 60px;
}
#Input{
  margin-bottom:16px;
   height:100px;
}
#Location{
  margin-bottom:16px;
}
#auto{color: #000;max-width: 99%;width:300px;position:absolute;z-index: 999;font-size: 15px;padding:10px;border: 1px solid #ddd;outline: none !important;top:5px;border-radius:10px;margin:4px;}
#map{
  width: 100%; height: 100vh;margin:0;padding: 0;
  }